 <div class="container" fade-in>

    <div style="padding-top: 2em;">

    

            <div class="page-header">
                <h1>Borrowed List</h1>
             </div>
     <div class="well">
          <input type="text" name="search" id="search" ng-model="search" class="search-query" placeholder="Search">
  
  <div style="float:right">
  Order By:
  <select ng-model="ordertype">
    <option value="title" selected='true' class='form-control'>Title</option>
       
  </select>
  </div>
  <hr/>
  <h3 style="text-align:center"><span >{{search}}</span></h3>
  <div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="book in books | filter:search | orderBy:ordertype | filter:filters | filter:authService.teamId()" ng-show="book._id.$oid" ng-if='!book.returndate.length' >
      
      <h3> Book Title :{{book.bookname}} </h3>
       <div class = 'row'>
             <div class="col-md-10">
      <h4> Date Borrowed : <span style="color:#a91b0c" ng-click="$parent.filters = {author: book.author}">{{book.borrowdate | date:'yyyy-MM-dd'}}</span> </h4>
            <h4> Date Returned : <span style="color:#a91b0c" ng-click="$parent.filters = {author: book.author}">{{book.returndate | date:'yyyy-MM-dd'}}</span> </h4>
      <h5> Borrowed By : {{book.username}} </h5>
      <h5 style="color:transparent"> Team Id : {{book.teamid}} </h5>
      </div>
      </div>

      <a href="#/viewbook/{{book.bookid}}" class="btn btn-primary"> View Book </a>
      <a ng-if='!book.returndate.length ' href="mailto:{{book.usermail}}" class="btn btn-success" > Send Reminder <a>
      
      </li>
    
    </ul>
</div>

</div>

</div>
