<header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="#/">SHED</a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">
                	<li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
 
                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>
                   
                    
                   
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
            
                            <li>
                                <a href=""><i class="md md-settings"></i> Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                      </ul>
                </li>
            </ul>
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner c-overflow">
                    <div class="profile-menu">
                        <a href="">
                            <div class="profile-pic">
                                <img src="/img/profile-pics/1.jpg" alt="">
                            </div>

                            <div class="profile-info">
                                {{currentUser}} : {{userProfile['0']['usertype']}}

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
                         
                            <li>
                                <a href=""><i class="md md-settings"></i> Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu">
                        <li><a href="#/dashboard"><i class="md md-home"></i> Dashboard</a></li>
                        <li><a href="#/"><i class="md md-my-library-books"></i> Books List</a></li>
                        <li><a href="#/addbook"><i class="md md-content-copy"></i> Add Book</a></li>
                        <li><a href="#/borrowed"><i class="md md-today"></i> Borrowed List</a></li>
                        <li><a href="#/listusers"><i class="md md-person"></i> Library Users</a></li>
                        <li><a href="#/invite"><i class="md md-person"></i> Invite Users</a></li>
                        <li><a href=""><i class="md md-my-library-books"></i> Manage Library</a> </li>
                       
                       
                        
                    </ul>
                </div>
            </aside>
	  <section id="content">
	<div class="container" fade-in>

    <div style="padding-top: 2em;">

    

            <div class="page-header">
                <h1>Book View</h1>
             </div>
     <div class="well">
	<hr/>
	<div>
	<ul class="list-group">
		<li class="list-group-item">
		<div class="row">
		<div class="col-md-6">
			<h3> Book Title :{{book.title}} </h3>
			<h4> Author : {{book.author}} </h4>
			<h4> Publisher : {{book.publisher}} </h4>
			<h4> Date of Publication : {{book.dateofpublication}} </h4>
			<h5> Category : {{book.category}} </h5>
			<h5> Library Type : {{book.librarytype.desc}} </h5>
			<h5> Available Copies : {{book.transaction}} </h5>
			<p>Description : {{book.description}}</p>

	    </div>
	
       <div class="col-md-6">
            <img ng-if ='book.image' ng-src='img/{{book.image.replace("C:\\fakepath\\", "")}}' alt="image" width='100%'/>
	    	<img ng-if='book.pic' ng-src='{{book.pic}}' alt="image" width='100%'/>
	    </div>
	    </div>
	    <div class="row" style="padding:20px">
	    <a href="#/viewbook/{{relatedbook._id.$oid}}" ng-repeat="relatedbook in relatedbooks | orderBy:ordertype | filter :book.category " ng-show="relatedbook._id.$oid">
	    		<span ng-if = 'relatedbook._id.$oid != book._id.$oid'>
      		  <img ng-if='relatedbook.image' ng-src='img/{{relatedbook.image.replace("C:\\fakepath\\", "")}}' alt="image" width='15%' style='float:left'/>
      		  <img ng-if='relatedbook.pic' ng-src='{{relatedbook.pic}}' alt="image" width='15%' style='float:left'/>
      		
	      	</span>
    	</a>
	    </div>
	   <div ng-show="authService.isLoggedIn()">	
            	
            	<div ng-if="book.transaction < 1">

                  <span style="color:#286100">This book is not available at the moment </span>
	   
                </div>
              	
              	<div class="page-header">
               				 <h3>Book Reviews</h3>
             	 </div>
             	 <div class="well">
				
                 <div class="panel panel-default" ng-repeat ="review in reviews.slice().reverse() | filter:{ bookid: book._id.$oid}:true | limitTo:5" ng-show="review._id.$oid">
 								 <div class="panel-heading"> <i class="glyphicon glyphicon-user glyphicon-white"></i> User : {{review.user}}</div>
								 <div class="panel-body">Review : <p>{{review.comment}}</p></div>
				</div>
                </div>
                	
                <div ng-if="book.borrowedby == authService.currentUser()">
                	 <button class='btn btn-success' ng-click='return()'> Return  Book </button> 
                </div>
                <div>
                	      <div class="page-header">
               				 <h3>Review Book</h3>
             			  </div>
                	 <div class="well">
						<form class="form-horizontal" name="myForm">
									<div class="container form-row">
			       					 Username:&nbsp;&nbsp;&nbsp;
			       					 {{authService.currentUser()}}
									 </div>
									<div class="container form-row">
			       					 Review:&nbsp;&nbsp;&nbsp;
								<textarea ng-model="review.comment" class="form-control"> </textarea>
									 </div>
									<div style="padding:10px" class="container form-row">
								<button  class="btn btn-success" ng-click="reviewbook(authService.currentUser())"> Review Book</button>
									</div>
                		
						</form>
					  </div>
                </div>
                <div ng-if="book.transaction > 0 && book.borrowedby != authService.currentUser()">
                	<button class='btn btn-success' ng-click='borrow(authService.currentUser(), authService.currentEmail())'>
                		Borrow  Book
                	</button>

                </div>
              </div>  		
					   
               

     </div>
       
        <div ng-show="!authService.isLoggedIn()">
            
           <span style="color:#d9230f;padding-bottom:10px;view:block"> Please Login to Borrow Book</span>
        </div>

        </li>


		</ul>
	</div>
</div>

</div>

</div>
