<header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="#/">SHED</a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
 
                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>
                   
                    
                   
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a href="#/profile/{{userProfile['0']['_id']}}"><i class="md md-person"></i> View Profile</a>
                           </li>
            
                         
                           <li>
                                <a ng-click="logOut()"><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                      </ul>
                </li>
            </ul>
            
             
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text" ng-model="search">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner c-overflow">
                    <div class="profile-menu">
                        <a href="">
                            <div class="profile-pic">
                                <img src=" img/profile-pics/avatar.png" alt="">
                            </div>

                            <div class="profile-info">
                                {{currentUser}} : {{userProfile['0']['usertype']}}

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                                <a href="#/profile/{{userProfile['0']['_id']}}"><i class="md md-person"></i> View Profile</a>
                           </li>
                         
                         
                            <li>
                                <a ng-click="logOut()"><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu">
                        <li><a href="#/dashboard"><i class="md md-home"></i> Dashboard</a></li>
                        <li><a href="#/"><i class="md md-my-library-books"></i> Books List</a></li>
                        <li><a href="#/addbook"><i class="md md-content-copy"></i> Add Book</a></li>
                        <li><a href="#/borrowed"><i class="md md-today"></i> Borrowed List</a></li>
                        <li><a href="#/listusers"><i class="md md-person"></i> Library Users</a></li>
                        <li><a href="#/invite"><i class="md md-person"></i> Invite Users</a></li>
                        <li><a href=""><i class="md md-my-library-books"></i> Manage Library</a> </li>
                       
                       
                        
                    </ul>
                </div>
            </aside>
            
            
            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>BORROWED LIST</h2>
                    
                        <ul class="actions">
                           
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                    
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    
                    </div>
                
                    <div class="card">
           
                    
                        <div class="card-body card-padding"> 

   
                        <ul class="list-group">
                          <li class="list-group-item" ng-repeat="book in books | filter:search | orderBy:ordertype | filter:filters | filter:authService.teamId()" 
                          ng-show="book._id" ng-if='!book.returndate.length' >
                            
                            <h3> Book Title :{{book.bookname}} </h3>
                             <div class = 'row'>
                                   <div class="col-md-10">
                            <h4> Date Borrowed : <span style="color:#a91b0c" ng-click="$parent.filters = {author: book.author}">{{book.borrowdate | date:'yyyy-MM-dd'}}</span> </h4>
                                  <h4> Date Returned : <span style="color:#a91b0c" ng-click="$parent.filters = {author: book.author}">{{book.returndate | date:'yyyy-MM-dd'}}</span> </h4>
                            <h5> Borrowed By : {{book.username}} </h5>
                            <h5 style="color:transparent"> Team Id : {{book.teamid}} </h5>
                            </div>
                            </div>

                            <a href="#/viewbook/{{book.bookid}}" class="btn btn-primary"> View Book </a>
                            <a ng-if='!book.returndate.length ' href="mailto:{{book.usermail}}" class="btn btn-success" > Send Reminder <a>
                            
                            </li>
                          
                          </ul>


</div>

</div>
