<header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="#/">SHED</a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">
                	<li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
 
                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>
                   
                    
                   
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
            
                            <li>
                                <a href=""><i class="md md-settings"></i> Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                      </ul>
                </li>
            </ul>
            
               
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text" ng-model="search">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner c-overflow">
                    <div class="profile-menu">
                        <a href="">
                            <div class="profile-pic">
                                <img src="/img/profile-pics/1.jpg" alt="">
                            </div>

                            <div class="profile-info">
                                {{currentUser}} : {{userProfile['0']['usertype']}}

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
                         
                            <li>
                                <a href=""><i class="md md-settings"></i> Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu">
                        <li><a href="#/dashboard"><i class="md md-home"></i> Dashboard</a></li>
                        <li><a href="#/"><i class="md md-my-library-books"></i> Books List</a></li>
                        <li><a href="#/addbook"><i class="md md-content-copy"></i> Add Book</a></li>
                        <li><a href="#/borrowed"><i class="md md-today"></i> Borrowed List</a></li>
                        <li><a href="#/listusers"><i class="md md-person"></i> Library Users</a></li>
                        <li><a href="#/invite"><i class="md md-person"></i> Invite Users</a></li>
                        <li><a href=""><i class="md md-my-library-books"></i> Manage Library</a> </li>
                       
                       
                        
                    </ul>
                </div>
            </aside>
	  <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>ADD BOOK</h2>
                    
                        <ul class="actions">
                           
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                    
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    
                    </div>
                
                    <div class="card">
                      
                    
                        <div class="card-body card-padding">
					
					<form name="myform"  novalidate class="css-form"> 
						  <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
          </div>


						<div class="animated zoomInRight">
				        
				           <div class="form-group">
                                <div class="fg-line input-group search-bar">
                                    <input type="text" 
                                     type="text" ng-model="search" ng-change="change()" onclick="select()" 
                                     class="form-control" placeholder="search book" autofocus />

                                      <span class="input-group-addon bar-style"><i class="md md-search"></i></span>
		
                                    </div>
                            </div>
				         
				    <div style="text-align:center;padding-top:10px"> 
				    	{{$rootScope.addmanually}} {{$scope.book}}	</div>
				    <div ng-if="!details" style="text-align:center;padding-top:10px">
					  Loading results...
					</div>
					<div ng-if="!details" style="text-align:center;padding-top:10px">
					  No results found.
					</div>
					<div ng-if="details" style="text-align:center;padding-top:10px">
					  {{details.totalItems}} results found.
					</div>
					

					<div ng-if="details">
					  <img ng-src="{{ details.items['0'].volumeInfo.imageLinks.thumbnail }}" class="thumbnail animated flip movie-poster">

					  <span class="span-outer">
					    <a href="#" target="_blank">{{ details.items['0'].volumeInfo.title }}</a>
					    <h5>{{details.items['0'].volumeInfo.subtitle}}</h5>
					  </span> 
					  <p><strong>Published on:</strong> {{ details.items['0'].volumeInfo.publishedDate }} </p>
					  <p class="outer-p">
					    <div class="inner-p">
					      <span class="label label-primary">Publisher :</span> {{ details.items['0'].volumeInfo.publisher }}
					    </div>
					    <div class="inner-p">
					      <span class="label label-primary">Author :</span> {{ details.items['0'].volumeInfo.authors['0'] }}
					    </div>
					    <div class="inner-p">
					      <span class="label label-primary">Type :</span> {{ details.items['0'].volumeInfo.printType }}
					    </div>
					     <div class="inner-p">
					      <span class="label label-primary">Description :</span> {{ details.items['0'].volumeInfo.description }}
					    </div>
					  	  </p>

					  <p class="outer-p-2">Ratings:<br>
					    <strong>Average Rating</strong>: <span class="label label-success">{{ details.items['0'].volumeInfo.averageRating }}</span><br>
							  </p>

					  
					</div>



				</div>

				<div class="form-group" ng-hide='true'>
                                <div class="fg-line input-group ">
			     		<input class="form-control" type="text" name="pic" ng-model="book.pic" required ng-minlength= "2" />
					</div>
				</div>

				<div class="form-group">
                                <div class="fg-line input-group ">
			     		<input class="form-control" type="text" name="title" ng-model="book.title" placeholder="Book Title" required ng-minlength= "2" />
					</div>
				</div>


			<div class="form-group">
                                <div class="fg-line input-group ">
					<input class="form-control" name="author" ng-model="book.author" placeholder="Book Author" ng-required= "true" ng-minlength= "2" />
				</div> 
			</div>
			   
			<div class="form-group">
                    <div class="fg-line input-group ">
					<input class="form-control"  type="text" name="publisher" ng-model="book.publisher" placeholder="Book Publisher" ng-required= "true" ng-minlength= "2" />
			</div>
			</div>
										 
			<div class="form-group">
                                <div class="fg-line input-group">
					<input class="form-control" type="date" name="dateofpublication" ng-model="book.dateofpublication" placeholder="Date of Publication" ng-required= "true" ng-minlength= "2"  data-provide="datepicker"/>
			</div>
			</div>
			<div class="form-group">
                  
              		<span ng-controller="FileUploadCtrl"/>
			   
			   <input type="file" id="fileToUpload"  onchange="angular.element(this).scope().setFiles(this)" 
			   ng-model='book.image' /> 
			   <input type='button' class="btn btn-primary " ng-click="uploadFile()" value="Upload" style="float:right" />
					</span>	   			  
       	    </div>
      

			<div class="form-group">
               
               <div class="fg-line">
					<textarea class="form-control" type="text" 
					name="description" ng-model="book.description" ng-required= "true" ng-minlength= "2" placeholder="Description...."></textarea>
				</div>
			</div>											
			
			<div class="form-group">
                                <div class="fg-line input-group">
                                <input class="form-control" type="text" name="category" ng-model="book.category" placeholder="Category" ng-required= "true" ng-minlength= "2" />
			</div>
			</div>
					
			<!--   
			
			<div class="container form-row">
			      Team Reference:&nbsp;&nbsp;&nbsp;
				   <select class="form-control" name="teamreference" ng-model="book.teamreference" ng-options="teamreference as teamreference.desc for teamreference in teamreferences" ng-required= "true" ng-minlength= "2">
			       <option value="">Please select an option</option>
			       </select>
			</div> 
			<div class="container form-row">
			        Tags:&nbsp;&nbsp;&nbsp;
					<input class="form-control"  type="text" name="book.tags" ng-model="tags" placeholder="Tags" ng-required= "true" ng-minlength= "2" />
			</div>
			-->
		    <div class="form-group">
                                <div class="fg-line input-group">
                                <input class="form-control" type="text" name="teamid" ng-model="book.teamid" placeholder="Team Id" ng-required= "true" ng-minlength= "2" />
			</div>
			</div>  
			
			<div class="form-group">
                  <div class="fg-line">
                  	<div class="select">
					
					<select placeholder="Library Type" class="form-control"name="librarytype" ng-model="book.librarytype" ng-required= "true" ng-minlength= "2"> 
					<option value="">Select an Option</option>
			        <option value="Personal Library">Personal Library</option>
			         <option value="Team Library">Team Library</option>
					</select>
					</div>
			</div>
		</div>
		   <div class="form-group">
                                <div class="fg-line input-group search-bar">
  				<input class="form-control" type="text" name="copies" ng-model="book.copies" placeholder="Copies" ng-required= "true" ng-minlength= "2" />
		</div>
		</div>	

								
			<div class="form-group" style="padding:5px">
					<input type= "button" ng-click="manual()" ng-if='details.totalItems < 1' value="Add Manually" class="btn btn-success" style="margin:2px"> </input>
					
					<input ng-if='details' type= "button" ng-click="save()" ng-disabled="isClean() || $form.invalid"  value="Save Book" class="btn btn-success" style="margin:2px"> </input>
					<!--
					<input type= "button" ng-click="destroy()" ng-if='' value="Remove Book" class="btn btn-danger" style="margin:2px"> </input>
					-->
			</div>

				


	</form>
</div>

</div>

</div>
