
        
        <!-- Forgot Password -->
        <div class="lc-block toggled" id="l-forget-password">
                  SHED PASSWORD
                <hr/>


            <p class="text-left">Forgot your password ? it's okay enter your email address and recieve a  
            password reset.</p>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>
            
            <a href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
            
            <ul class="login-navigation">
                <li data-block="#l-forget-password" class="bgm-green"><a  style="color:#fff" href="#/start">LOGIN</a></li>
                  <li  class="bgm-orange"><a   style="color:#fff" href="#/reg"> REGISTER</a></li>
           

            </ul>
        </div>
        
     
       