<header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="#/">SHED</a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">
                	<li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>
 
                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>
                   
                    
                   
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                 <a href="#/profile/{{userProfile['0']['_id']}}"><i class="md md-person"></i> View Profile</a>
                            </li>
            
                          
                           <li>
                                <a ng-click="logOut()"><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                      </ul>
                </li>
            </ul>
            
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text" ng-model="search">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner c-overflow">
                    <div class="profile-menu">
                        <a href="">
                            <div class="profile-pic">
                                <img src=" img/profile-pics/avatar.png" alt="">
                            </div>

                            <div class="profile-info">
                                {{currentUser}} : {{userProfile['0']['usertype']}}

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                               <a href="#/profile/{{userProfile['0']['_id']}}"><i class="md md-person"></i> View Profile</a>
                          </li>
                         
                           
                           <li>
                                <a ng-click="logOut()"><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu">
                        <li><a href="#/dashboard"><i class="md md-home"></i> Dashboard</a></li>
                        <li><a href="#/"><i class="md md-my-library-books"></i> Books List</a></li>
                        <li><a href="#/addbook"><i class="md md-content-copy"></i> Add Book</a></li>
                        <li><a href="#/borrowed"><i class="md md-today"></i> Borrowed List</a></li>
                        <li><a href="#/listusers"><i class="md md-person"></i> Library Users</a></li>
                        <li><a href="#/invite"><i class="md md-person"></i> Invite Users</a></li>
                        <li><a href=""><i class="md md-my-library-books"></i> Manage Library</a> </li>
                       
                       
                        
                    </ul>
                </div>
            </aside>
         <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Dashboard</h2>
                        
                        <ul class="actions">
           
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                   
                                </ul>
                            </li>
                        </ul>
                        
                    </div>

                    
                    <div class="mini-charts">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <small>Total Available Books</small>
                                            <h2>{{getTotalBooks()}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <small>Total Available Copies </small>
                                            <h2>{{getTotalCopies()}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-4">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <small>Total Borrowed Copies</small>
                                            <h2>{{getTotalBorrowed()}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                 
                        </div>
                    </div>
                    
                    
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div id="site-visits" class="dash-widget-item bgm-teal">
                                    <div class="dash-widget-header">
                                        <div class="p-20">
                                            <div class="dash-widget-visits"></div>
                                        </div>
                                        
                                        <div class="dash-widget-title">
                                         <h3 class="m-0 f-400" style="text-align:center">Library Summary(Categories) </h3></div>
                                        
                           
                                    </div>
                                    
                                    <div class="p-20" ng-repeat="(key, value) in books | groupBy: 'category'">
                                        
                                        <h3 class="m-0 f-400">Category Name: {{ key }}</h3>
                                       
                                        <div ng-repeat="book in value">

                                        <small>Book:
                                        {{ book.title }}
                                        </small>
                                        <br/>
                                        
                                        <small>Copies: 
                                        {{book.copies}}
                                        </small>
                                        <br/>
                                        
                                        <small> Borrowed:
                                        {{book.copies - book.transaction}} 
                                        </small>
                                        <hr/>
                                        </div>

                                        <h4 class="m-0 f-400">Category Copies: {{ value | sumFilter  }} </h4>
                                       
                                      
                                    </div>

                                 

                                </div>
                            </div>
                            
                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
        <footer id="footer">
            Copyright &copy; 2015 SHED
          
        </footer>
        <script type="text/javascript">
             $(document).ready(function(){
                console.log('something');
                
                $('#app').removeClass('login-content');
        
            });

       
       </script> 


