
	<div class="container" fade-in>

    <div style="padding-top: 2em;">

    

            <div class="page-header">
                <h1>Dashboard</h1>
             </div>
     <div class="well">
	<hr/>
	<div>
	<ul class="list-group">

	<li class="list-group-item">

		<div class="row">

		<div class="col-md-6">
		
		<h3> {{books.length}} books available in this library </h3>
	
	    </div>
	
       <div class="col-md-6">
      
        	<h3> {{ getTotalcopies() }} total copies available in this library </h3>
	    </div>

					   
               

     </div>
      

        </li>
        <li class="list-group-item">

		<div class="row">

		<div class="col-md-12">
		
		<h3 style="text-align:center"> {{getTotalborrowed()	}} borrowed <span ng-if='getTotalborrowed() != 1'>copies</span> <span ng-if='getTotalborrowed()==1'>copy</span> </h3>
	
	    </div>
	
   
               

     </div>
      

        </li>
     		
			<li class="list-group-item">

	<ul ng-repeat="(key, value) in books | groupBy: 'category'">
  <h4>Category Name: {{ key }}  </h4>

  <li ng-repeat="book in value">
    Book: {{ book.title }}  <br/>
    Copies:  {{book.copies}}  <br/>
    Borrowed: {{book.copies - book.transaction}}  <br/>
  </li>
   <h5>Category Copies: {{ value | sumFilter  }}  </h5>
   <hr/>
</ul>

               


        </li>


		</ul>
	</div>
</div>

</div>

</div>
