	<div class="container" fade-in>

    <div style="padding-top: 2em;">

    

            <div class="page-header">
                <h1>Users List</h1>
             </div>
     <div class="well">
	<input type="text" ng-model="search" class="search-query" placeholder="Search">

	<table class="table table-hover">
		<thead>
		<tr>
			<th>Username</th>
			<th>Email Address</th>
      <th>User Type</th>
			<th ng-if='authService.currentUsertype() == "admin"'><a class="btn btn-success" href="#/new"> New User</a></th>
		</tr>
		</thead>
		<tbody>
  
    <div ng-if= 'users.length > 1'>
		<tr ng-repeat="user in users " ng-show="user._id.$oid">

			<td>  {{user.Username}}</td>
			<td>{{user.email}}</td>
      <td>{{user.user_type}}</td>
      <td style='display:none'>{{user.invitedby}}</td>
      <td style='display:none'>{{user._id.$oid}}</td>
			<td ng-if='authService.currentUsertype() == "admin"'>
				<a class="btn btn-primary" href="#/edit/{{user._id.$oid}}"> Edit User</a>
			</td>
		</tr>
    </div>
    <div ng-if ='(users.length < 2)'>
      <tr ng-show="users._id.$oid">
      <td>{{users.username}}</td>
      <td>{{users.email}}</td>
      <td>{{users.user_type}}</td>
      <td style='display:none'>{{users.invitedby}}</td>
      <td style='display:none'>{{users._id.$oid}}</td>
      <td ng-if='authService.currentUsertype() == "admin"'>
        <a class="btn btn-primary" href="#/edit/{{users._id.$oid}}"> Edit User</a>
      </td>
    </tr>
    </div>

		</tbody>
	</table>

</div>

</div>

</div>
